<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elk.elkweb.mapper.LoginMapper">
    <resultMap id="BaseResultMap" type="com.elk.elkweb.entity.User">
        <result column="USER_NAME" jdbcType="VARCHAR" property="USER_NAME"/>
        <result column="USER_PSD" jdbcType="VARCHAR" property="USER_PSD"/>
    </resultMap>

    <!--登陆验证-->
    <select id="login" parameterType="com.elk.elkweb.entity.User" resultType="com.elk.elkweb.entity.User">
        select *
        from T_USER_INFO
        where USER_NAME = #{USER_NAME}
          and USER_PSD = #{USER_PSD}
    </select>

</mapper>
